@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 80%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

body{
    background: #030321;
}

.container1 {
  display: flex;
/*   border:1px solid red; */
  height: 90%;
  align-items: center;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 800px;
    height: 250px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #15304c;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #004285;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: hsla(320, 100%, 50%, 0.2);
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #00bdbd;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #3096fd;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
/* CSS effects from https://codepen.io/ClaireLarsen/pen/XmVyVX*/